menu "Application"

rsource "src/modules/led/Kconfig.led"
rsource "src/modules/button/Kconfig.button"
rsource "src/modules/sys_ctrl/Kconfig.sys_ctrl"
rsource "src/modules/button_mock/Kconfig.button_mock"
rsource "src/modules/tracing_usb/Kconfig.tracing_usb"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
