menu "Application"

rsource "src/components/led/Kconfig.led"
rsource "src/components/button/Kconfig.button"
rsource "src/components/sys_ctrl/Kconfig.sys_ctrl"
rsource "src/components/temp_alert/Kconfig.temp_alert"
rsource "src/components/button_mock/Kconfig.button_mock"
rsource "src/components/tracing_usb/Kconfig.tracing_usb"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
