menu "Application"

# Source the tempsense component Kconfig
rsource "../Kconfig.tempsense"

# Other components might be needed for dependencies
rsource "../../sys_ctrl/Kconfig.sys_ctrl"
rsource "../../button/Kconfig.button"
rsource "../../led/Kconfig.led"
rsource "../../button_mock/Kconfig.button_mock"
rsource "../../tracing_usb/Kconfig.tracing_usb"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
